@import "../../styles/partials/Global.scss";

.gif-wrapper {
 margin: 0 0 0.5rem 0;
}

.gif-link {
  color: $color-black;
  display: block;
  text-decoration: none;
  position: relative;
  width: 100%;
  &__title {
    position: absolute;
    background: $color-title-background;
    margin: 0;
    bottom: 0;
    font-size: $font-size-xs;
    color: $color-white;
  }
  &__image {
    width: 100%;
    object-fit: contain;
    vertical-align: top;
  }
}
