$color-background: #073b4c;
$color-mustard: #ffd166;
$color-blue-light: #118ab2;
$color-black: #000;
$color-white: #fff;
$font-size-xs: 0.6rem;
$font-size-sm: 1rem;
$font-size-md: 1.875rem;
$font-size-lg: 2.25rem;
