@import "../../styles/partials/Global.scss";

.form {
  @include flexBox(row, center);
  margin: 0 auto 1.875rem auto;
  &__button {
    background: $color-blue-light;
    border: 0;
    color: $color-white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: $font-size-sm;
    border-radius: 0.625rem 0 0 0.625rem;
  }
  &__input {
    border-radius: 0 0.625rem  0.625rem 0;
    font-size: $font-size-sm;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;  
  }
}

.home {
  @include flexBox(column, flex-start);
  &__search-results {
    flex-shrink: 2;
  }
  &__categories {
    margin: 0 0 1.5625rem 0;
    width: 100%;
  }
}

@include tablet {
  .home {
    @include flexBox(initial, flex-start);
  }
  
  .home__categories{
    padding: 0 2rem;
    position: sticky;
    top: 0;
    width: 40%;
  }
}


