@import "../../styles/partials/Global.scss";


.category {
    color: $color-white;
    &__title{
        font-weight: bold;
    }
    &__list{
        @include flexBox(column, space-evenly);
        list-style-position: inside;
        list-style: none;
        margin: 0;
        padding: 0;
        
    }
    &__link {
        color: $color-white;
        font-size: $font-size-sm;
        padding: 0.5rem;
        text-decoration: none;
    }
    &__link:hover  {
        color: $color-blue-light;
    }
}

@include tablet {
    .category__list {
        display: list-item;
        text-align: left;
    }
    .category__list  li::before {
        color: $color-mustard;
        content: '-';
    }
}
