@import "../../styles/partials/Global.scss";

.listofgifs {
  column-count: 2;
  column-gap: 0.5rem;
}

// .listofgifs-item {
//   -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
//   page-break-inside: avoid; /* Firefox */
//   break-inside: avoid; /* IE 10+ */
//   background-color: #eee;
//   display: inline-block;
//   width: 100%;
// }

@include tablet {
  .listofgifs {
    column-count: 3;
  }
}

@include desktop {
  .listofgifs {
    column-count: 4;
  }
}